version: 2
jobs:
  functions-build:
    working_directory: ~/faraway.ai
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout

      - run:
          name: common
          command: npm ci

      - run:
          name: bootstrap
          command: npm i --prefix=projects/functions

      - run:
          name: build
          command: npm run build --prefix=projects/functions

  functions-deploy:
    working_directory: ~/faraway.ai
    docker:
      - image: circleci/node:10.16.3
    steps:
      - run:
          name: deploy
          command: npm run deploy --prefix=projects/functions

workflows:
  version: 2
  functions:
    jobs:
      - functions-build
      - funtions-deploy:
          requires:
            - functions-build
          filters:
            branches:
              only: master

# See https://circleci.com/docs/2.0/deployment-integrations/
